In [86]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
%matplotlib notebook

In [140]:
dataset = pd.read_csv("stroke.csv")
dataset.replace([np.inf, -np.inf], np.nan, inplace=True)
dataset.fillna(999, inplace=True)
dataset

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5105,18234,Female,80.0,1,0,Yes,Private,Urban,83.75,NaN,never smoked,0
5106,44873,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.0,never smoked,0
5107,19723,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.6,never smoked,0
5108,37544,Male,51.0,0,0,Yes,Private,Rural,166.29,25.6,formerly smoked,0
5109,44679,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.2,Unknown,0

In [125]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                5110 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [126]:
x = dataset.iloc[:,1:10]

In [127]:
x= pd.get_dummies(x)

In [128]:
x=x.values

In [129]:
x

array([[67.,  0.,  1., ...,  0.,  0.,  1.],
       [61.,  0.,  0., ...,  0.,  1.,  0.],
       [80.,  0.,  1., ...,  0.,  1.,  0.],
       ...,
       [35.,  0.,  0., ...,  0.,  1.,  0.],
       [51.,  0.,  0., ...,  0.,  1.,  0.],
       [44.,  0.,  0., ...,  0.,  0.,  1.]])

In [130]:
y = dataset.iloc[:,-1].values

In [131]:
from sklearn.model_selection import train_test_split

In [132]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.20, random_state=42)

In [133]:
from sklearn.tree import DecisionTreeClassifier

In [134]:
KNN = DecisionTreeClassifier()

In [135]:
KNN.fit(x_train,y_train)

DecisionTreeClassifier()

In [136]:
y_pred = KNN.predict(x_test)

In [137]:
from sklearn.metrics import classification_report, confusion_matrix

In [138]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.96      0.96       960
           1       0.30      0.26      0.28        62

    accuracy                           0.92      1022
   macro avg       0.63      0.61      0.62      1022
weighted avg       0.91      0.92      0.92      1022

In [105]:
from sklearn.model_selection import cross_val_score

In [106]:
print('cross val', cross_val_score(KNN,y_test.reshape(-1,1),y_pred))
print('cross val',np.mean(cross_val_score(KNN,y_test.reshape(-1,1),y_pred)))

cross val [0.72972973 0.59459459 0.67567568 0.81081081 0.72222222]
cross val 0.7066066066066067